@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(../../fonts/NotoSansKR-Light-Hestia.eot),
    url(../../fonts/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(../../fonts/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(../../fonts/NotoSansKR-Regular-Hestia.eot),
    url(../../fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(../../fonts/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(../../fonts/NotoSansKR-Medium-Hestia.eot),
    url(../../fonts/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(../../fonts/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(../../fonts/NotoSansKR-Bold-Hestia.eot),
    url(../../fonts/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(../../fonts/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

* {padding:0; margin:0; font-family:'Noto Sans KR','돋움',Dotum,AppleGothic,sans-serif;font-size:14px;font-weight:400;line-height:1.4;color:#444}

html {overflow-y:scroll; height:100%;}
body {background:#f4f4f4; height:100%;}
img {vertical-align:top; border:none;}
form {padding: 0;}
fieldset {border:none;}
input {vertical-align:top; background:none;}
table {width:100%; border-collapse:collapse; table-layout:fixed;}
ul, li {list-style:none;}
a {background-color:transparent; text-decoration:none;}
a:active {background:none;}
a:hover ,a:focus {color:#888;}
address {font-style:normal;}
em {font-style:normal;}
button {cursor:pointer; border:none; background:none;}
.haze, caption {display:block; width:0; height:0; font-size:0; visibility:hidden; overflow:hidden; line-height:0;}
select {padding:3px; vertical-align:middle; border:1px solid #ccc}
select:disabled {padding:3px; vertical-align:middle; border:1px solid #ccc; background:#eaeaea;}
input[type="text"], input[type="password"] {height:16px; padding:3px; border:1px solid #ccc; background:#fff;}
input[type="radio"], input[type="checkbox"] {margin-right:5px; vertical-align:middle;}
input[type="radio"] + label, input[type="checkbox"] + label {position:relative; top:1px; margin-right:20px;}
input[type="text"] + button {margin-left:5px; vertical-align:top;}
input[type="text"]:disabled {background:#eaeaea;}
input[disabled] {background:#eaeaea;}
input[type="text"]:read-only {background:#eaeaea;}
input[readonly] {background:#eaeaea;}

textarea {padding:3px; line-height:18px; border:1px solid #ccc; background:#fff;}
.no_line {border-left:0 !important}

#wrap {margin:0 auto; overflow:hidden;}

.outer {display:table; width:100%; height:100%;}
.inner {display:table-cell; vertical-align:middle; text-align:center;}

.header {width:1230px; height:50px; padding:10px 0; margin:0 auto;}
.header > h1 {float:left;}
.header > h1 a {padding:7px 0 0 0; display:block;}
.header > p {padding:14px 0 0 39px; float:right; height:46px; font-weight:400;}
.header > p button {padding:0 10px; background:#fff; border:1px solid #ccc; border-radius:3px; height:24px; margin-left:10px;}
.header > p button span {position:relative; top:1px; font-weight:700; color:#666;}
.header > p > span {color:#1e98ff; font-weight:700;}

#contents {position:relative; width:960px; padding:0 20px 30px 250px; margin:0 auto; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,0.07);}
#contents h2 {display:block; padding:30px 0 15px; color:#222; font-size:18px; font-weight:700;}
#contents h3 {display:block; padding:30px 0 15px; color:#222; font-size:15px; font-weight:700;}


/* lnb */

#lnb {position:absolute; width:200px; top:0px; left:0; background:#9aa7b8;}
#lnb > li> a {border-bottom:1px solid #b8c2cd; padding:8px 0 0 24px; display:block; background:#9aa7b8; letter-spacing:-1px; height:25px; color:#fff; font-size: 15px; font-weight:700;}
#lnb > li> a:hover {background:#1e98ff; color:#fff;}
#lnb > li.open > a {border-bottom:0; background:#1e98ff; height:25px; color:#fff; font-weight:700;}
#lnb > li > ul {padding:5px 0 8px 0; display:none; background:#fff;}
#lnb > li.open > ul {display:block;}
#lnb > li > ul > li > a {padding:5px 0 0 25px; display:block; letter-spacing:-1px; height:17px; color:#666; font-weight:700;}
#lnb > li > ul > li > a:hover {color:#1e98ff;}
#lnb > li > ul > li.open > a {color:#1e98ff;}
#lnb > li > ul > li.case.open > a {height:17px;}
#lnb > li > ul > li > ul {display:none;}
#lnb > li > ul > li.open > ul {padding:0 0 3px 0; display:block;}
#lnb > li > ul > li.open > ul > li > a {padding:4px 0 0 25px; display:block;  height:16px; color:#666;}
#lnb > li > ul > li.open > ul > li.open> a {letter-spacing:-1px; color:#1e98ff;}
#lnb > li > ul > li.open > ul > li.last > a {}


/* login */

.loginwrap {background:#daddde; overflow-y:hidden;}

.login {position:relative; margin:0 auto; *margin:150px auto; padding:0; width:500px; height:280px; background:#fff; border:1px solid #ccc; border-radius:8px;}
.login h2 {background:url(../image/logo_login.png) no-repeat center 25px; height:84px;}
.login fieldset {position:relative; padding:50px 30px; border-top:2px solid #2553b5;}
.login fieldset > p {height:40px; text-align:left; margin-left:25px;}
.login fieldset > p label {display:inline-block; width:70px; height:14px; padding:8px 0 0 0; vertical-align:top; background:url(../image/txt_pw.png) no-repeat left 6px;}
.login fieldset > p label[for="userId"] {background:url(../image/txt_id.png) no-repeat left 9px;}
.login fieldset > p label[for="userPw"] {background:url(../image/txt_pw.png) no-repeat left 9px;}
.login fieldset > p input[type="text"] {width:198px; height:20px; padding:5px; border:1px solid #ccc; background:#fff;}
.login fieldset > p input[type="password"] {width:198px; height:20px; padding:5px; border:1px solid #ccc; background:#fff;}
.login fieldset > button {position:absolute; left:345px; top:50px; width:100px; height:86px; background:url(../image/btn_login.png) no-repeat left top;}


/* button */

.btns {position:relative; height:30px; padding:30px 0 15px 0; text-align:center;}
.btns_in {position:relative; padding:0;}
.btns_out {position:relative; padding:0;}
.btn1 {min-width:50px; height:29px; padding:0 10px; margin-bottom:5px; border:1px solid #3683d0; border-radius:3px; background:#3e8ddc;}
.btn1 span {position:relative; top:1px; font-weight:700;  color:#fff;}
.btn2 {min-width:50px; height:29px; padding:0 10px; margin-bottom:5px; border:1px solid #8d8787; border-radius:3px; background:#999;}
.btn2 span {position:relative; top:1px; font-weight:700;  color:#fff;}
.btn_in {min-width:48px; height:24px; padding:0 5px; *margin:0 5px 0 0; border:1px solid #bebebe; background:#efefef; border-radius:2px;}
.btn_in span {position:relative; top:1px; font-size:13px; color:#222;}
.btn_in_s {min-width: 30px; height:20px; padding:0 5px; *padding:0; border:1px solid #bebebe; background:#efefef; border-radius:2px;}
.btn_in_s span {position:relative; top:0; *top:0; font-size:13px; color:#222;}
.btn_out {min-width:48px; height:24px; margin:3px 0; padding:0 5px; border:1px solid #bebebe; background:url(../image/bg_btn_out.png) repeat-x left top;}
.btn_out span {position:relative; top:1px; font-size:13px; color:#222;}

button.calendar {width:21px; height:22px; background:url(../image/ico_calendar.png) no-repeat center center;}


/*paging*/

.paging {height:24px; padding:0 0 20px 0; text-align:center;}
.paging a {display:inline-block; width:24px; height:17px; padding:2px 1px 0 0; text-align:center; vertical-align:top; font-size:14px; color:#444; margin-left:2px; background:url(../image/bg_paging.png) no-repeat 50px 10px;}
.paging a.on {color:#4271b5; font-size:14px; font-weight:700;}
.paging a.prev2 {margin:0; background-position:7px 7px;}
.paging a.prev {margin:0 8px 0 3px; background-position:-27px 7px;}
.paging a.next {margin:0 3px 0 10px; background-position:-54px 7px;}
.paging a.next2 {margin:0; background-position:-88px 7px;}


/* table */

.table1 {border-top:1px solid #666;border-bottom:1px solid #888;}
.table1 th {padding:14px 0 10px 20px; *padding:7px 0 7px 20px; font-weight:700; color:#555; text-align:left; border:1px solid #ccc; border-right:none; border-bottom:none; background:#f4f4f4;}
.table1 th label {font-weight:700; color:#555;}
.table1 td {padding:13px 10px 11px 11px; *padding:7px 0 7px 10px; text-align:left; color:#444; border:1px solid #ccc; border-right:none; border-bottom:none; word-wrap:break-word;}
.table1 td.case {text-align:center; background:#f7f7f7;}
.table1 tr th:first-child, .table1 tr td:first-child  {border-left:none;}
.table1 tr.case td , .table1 tr.case th {border-left:1px solid #ccc;}
.table1 table tr:first-child th, .table1 table tr:first-child td {border-top:none;}
.table1 th em {font-weight:700; color:#f5004d;}
.table1 td em {color:#f5004d;}
.table1 td input[type="text"], .table1 td input[type="password"], .table1 td textarea, .table1 td select , .table1 td button, .table1 td a {margin-top:-6px; margin-bottom:-4px; *margin-top:0; *margin-bottom:0;}
.table1 td > p {line-height:27px; margin:-7px 0 5px 0;}
.table1 td > p input[type="text"] {margin:0;}
.table1 td > p.case {margin:6px 0 -4px 0;}
.table1 td > p.case2 {margin:15px 0 -4px 0; line-height:20px;}
.table1 td textarea + p {margin:10px 0 -4px 0;}
.table1 li {margin:10px 0; height:20px;}

.table2 {margin:10px; border-top:1px solid #ccc; border-left:1px solid #ccc;}
.table2 tbody th {padding:10px 0 6px 0; font-weight:700; color:#555; text-align:center; border-right:1px solid #ccc; border-bottom:1px solid #ccc; background:#f4f4f4;}
.table2 tbody td {padding:2px 7px; text-align:left; color:#444; border-right:1px solid #ccc; border-bottom:1px solid #ccc; word-wrap:break-word;}

.table_list {margin-bottom:20px; border-top:1px solid #666; border-bottom:1px solid #888;}
.table_list th {padding:14px 0 10px 0; font-weight:700; color:#555; text-align:center; border:1px solid #ccc; border-right:none; background:#f4f4f4;}
.table_list th label {font-weight:700; color:#555;}
.table_list td {height:32px; padding:2px 7px; text-align:center; color:#444; border:1px solid #ccc; border-right:none; border-bottom:none; word-wrap:break-word;}
.table_list td.txt_left {text-align:left;}
.table_list td.case {text-align:center; background:#f7f7f7;}
.table_list tr th:first-child, .table_list tr td:first-child  {border-left:none;}
.table_list tr.case td , .table_list tr.case th {border-left:1px solid #ccc;}
.table_list table tr:first-child th, .table_list table tr:first-child td {border-top:none;}
.table_list th em {font-weight:700; color:#f5004d;}
.table_list td em {color:#f5004d;}
.table_list td input[type="text"], .table_list td input[type="password"], .table_list td textarea, .table_list td select , .table_list td button, .table_list td a {margin:0;}
.table_list td > p {line-height:27px; margin:-7px 0 5px 0;}
.table_list td > p input[type="text"] {margin:0 0 0 0;}
.table_list td > p.case {margin:6px 0 -4px 0;}
.table_list td > p.case2 {margin:15px 0 -4px 0; line-height:20px;}
.table_list td textarea + p {margin:10px 0 -4px 0;}
.table_list tfoot tr {border-top:1px solid #ccc;}
.table_list li {margin:10px 0; height:20px;}
.table_list div > ul {padding:10px 20px; margin:10px; background:#f7f7f7; border:1px dotted #ccc;}

.table_list2 {margin:10px; border-top:1px solid #ccc; border-left:1px solid #ccc;}
.table_list2 th {padding:10px 0 6px 0; font-weight:700; color:#555; text-align:center; border-right:1px solid #ccc; border-bottom:1px solid #ccc; background:#f4f4f4;}
.table_list2 td {height:28px; padding:2px 7px; text-align:center; color:#444; border-right:1px solid #ccc; border-bottom:1px solid #ccc; word-wrap:break-word;}

.table_list3 {margin-bottom:20px; border-top:1px solid #666;}
.table_list3 th {padding:14px 0 10px 0; font-weight:700; color:#555; text-align:center; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; background:#f4f4f4;}
.table_list3 th label {font-weight:700; color:#555;}
.table_list3 td {height:32px; padding:2px 7px; text-align:center; color:#444; border-right:1px solid #ccc; border-bottom:1px solid #ccc; word-wrap:break-word;}
.table_list3 tr th:first-child, .table_list3 tr td:first-child  {border-left:none;}
.table_list3 tr th:last-child, .table_list3 tr td:last-child  {border-right:none;}

.table_ex {display:inline-block; float:right; color:#444; font-weight:400;}
.table_ex_2 {color:#444; font-weight:400;}

/* box */

ul.box_list {margin-bottom:20px; overflow:hidden; text-align:left; box-sizing:content-box;}
.box_list li {margin-left:20px; float:left; display:block; height:140px; border:1px solid #ccc;}
.box_list li:first-child {margin-left:0;}
.box_list li p.title1 {height:47px; font-size:15px; font-weight:700; color:#222; line-height:50px; padding-left:60px; display:block; background:#f4f4f4 url('../image/img_boxlist_01.png') no-repeat 20px 12px; border-bottom:1px solid #ccc;}
.box_list li p.title2 {height:47px; font-size:15px; font-weight:700; color:#222; line-height:50px; padding-left:60px; display:block; background:#f4f4f4 url('../image/img_boxlist_02.png') no-repeat 20px 12px; border-bottom:1px solid #ccc;}
.box_list li div.cont {float:left; padding:20px 20px 0 20px;}
.box_list li div.cont dl {margin:0; overflow:hidden;}
.box_list li div.cont dt {font-weight:700; color:#666; padding:0 10px; background-repeat: no-repeat; background-color:transparent; background-position:0 6px; background-image:url('../image/dot_blue.png');}
.box_list li div.cont dd {color:#444; margin-right:40px;}
.box_list li div.cont dt, .box_list li div.cont dd {float:left; line-height:18px;}

ul.box_list2 {padding:20px; margin-bottom:20px; overflow:hidden; text-align:left;  box-sizing:content-box; border:1px solid #ccc;}
.box_list2 li {width:43%; height:250px; padding-left:20px; padding-right:20px; float:left; display:block; border:1px solid #eee;margin-bottom:20px;}
.box_list2 li:first-child {margin-right:20px;} */


/* popup */

body > .popBg {background:#fff; position:relative; min-height:100%; height:auto;}
.popWrap {background:#fff; padding-bottom:54px; margin:0;}
.popHeader > h1 {padding:15px; background:#3e8ddc; color:#fff; font-size:18px; font-weight:700;}
.popContent {padding:20px 20px 0 20px;}
.popContent h2 {display:block; padding:10px 0; color:#222; font-size:14px;}
.popFooter {position:absolute; bottom:0; width:100%; padding:0; border-top:1px solid #ddd; background:#f5f5f5;}
.popFooter .btnArea {text-align:center; padding:10px 0;}
.popContent li {margin:10px 0; height:20px;}

/* tab */

.tab {border-left:none; background:#fff; overflow:hidden; border-right:1px solid #ccc; margin-bottom:30px;}
.tab li {float:left; clear:right; border-top:1px solid #ccc; border-left:1px solid #d3d2da; border-bottom:1px solid #ccc; text-align:center; box-sizing:border-box; font-size:15px; font-weight:700; color:#666; padding:10px 0; cursor:pointer;}
.tab li.on {background-color:#fff; color:#dc1921; border:1px solid #dc1921;}

.tab_pop {border-left:none; background:#fff; overflow:hidden; border-right:1px solid #ccc; margin-bottom:20px;}
.tab_pop li {float:left; clear:right; border-top:1px solid #ccc; border-left:1px solid #d3d2da; border-bottom:1px solid #ccc; text-align:center; box-sizing:border-box; font-size:15px; font-weight:700; color:#666; padding:7px 0; cursor:pointer;}
.tab_pop li.on {background-color:#fff; color:#dc1921; border:1px solid #dc1921;}


/* searchBox */

.searchBox {margin-bottom:30px; padding:10px 20px 10px 0; border:1px solid #ccc; background:#f4f4f4;}
.searchBox label.title {position:relative; top:5px; padding:0 20px 0 10px; margin-left:20px; background:url(../image/dot_gray.png) no-repeat left 4px; font-weight:700; vertical-align:top;}
.searchBox .btn_search {min-width: 48px; height:24px; padding: 0 5px; border-radius:3px; background:#777; *vertical-align:middle;}
.searchBox .btn_search span {position:relative; top:0; font-size:13px; font-weight:700; color:#fff;}

/* text color */

.txt_red {color:#ff0000 !important;}


/* text align */

.txt_left {text-align:left !important;}
.txt_center {text-align:center !important;}
.txt_right {text-align:right !important;}
.txt_num {text-align:right !important;}


/* tip */

.essential {display:inline-block; width:7px; height:4px; margin:0 0 3px 5px; background:url(../image/tip_check_red.gif) no-repeat;}


/* margin & padding */

.pt0 {padding-top:0 !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt45 {padding-top:45px !important;}
.pt50 {padding-top:50px !important;}

.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}

.pl0 {padding-left:0 !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}
.pl50 {padding-left:50px !important;}

.pr0 {padding-right:0 !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}
.pr45 {padding-right:45px !important;}
.pr50 {padding-right:50px !important;}

.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}

.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb45 {margin-bottom:45px !important;}
.mb50 {margin-bottom:50px !important;}

.ml0 {margin-left:0 !important;}
.ml3 {margin-left:3px !important;}
.ml5 {margin-left:5px !important;}
.ml8 {margin-left:8px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml45 {margin-left:45px !important;}
.ml50 {margin-left:50px !important;}

.mr0 {margin-right:0 !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}
.mr45 {margin-right:45px !important;}
.mr50 {margin-right:50px !important;}
