@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/NanumGothic-Regular.eot);
	src: url(fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		 url(fonts/NanumGothic-Regular.woff2) format('woff2'),
		 url(fonts/NanumGothic-Regular.woff) format('woff'),
		 url(fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/NanumGothic-Bold.eot);
	src: url(fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		 url(fonts/NanumGothic-Bold.woff2) format('woff2'),
		 url(fonts/NanumGothic-Bold.woff) format('woff'),
		 url(fonts/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url(fonts/NanumGothic-ExtraBold.eot);
	src: url(fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
		 url(fonts/NanumGothic-ExtraBold.woff2) format('woff2'),
		 url(fonts/NanumGothic-ExtraBold.woff) format('woff'),
		 url(fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}

body,input,textarea,select,button,table{font-family:나눔고딕,'NanumGothic-Regular','Malgun Gothic','맑은고딕','돋움',Dotum,AppleGothic,sans-serif; font-size:14px;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0px;
	padding: 0px;
	line-height: 1.4em;
}

ol {
	list-style: none;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

h1 {
	font-size: 100%;
	font-weight: 400;
}

h2 {
	font-size: 100%;
	font-weight: 400;
}

h3 {
	font-size: 100%;
	font-weight: 400;
}

h4 {
	font-size: 100%;
	font-weight: 400;
}

h5 {
	font-size: 100%;
	font-weight: 400;
}

h6 {
	font-size: 100%;
	font-weight: 400;
}

form {
	border: 0px currentColor;
	border-image: none;
}

fieldset {
	border: 0px currentColor;
	border-image: none;
}

img {
	border: 0px currentColor;
	border-image: none;
}

address {
	font-style: normal;
	font-weight: 400;
}

caption {
	font-style: normal;
	font-weight: 400;
}

em {
	font-style: normal;
	font-weight: 400;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

#accessibility {
	width: 0px;
	height: 0px;
	line-height: 0;
	overflow: hidden;
	font-size: 0px;
	visibility: hidden;
	position: absolute;
}

#accessibility_footer {
	width: 0px;
	height: 0px;
	line-height: 0;
	overflow: hidden;
	font-size: 0px;
	visibility: hidden;
	position: absolute;
}

.skip {
	width: 0px;
	height: 0px;
	line-height: 0;
	overflow: hidden;
	font-size: 0px;
	visibility: hidden;
	position: absolute;
}

hr {
	width: 0px;
	height: 0px;
	line-height: 0;
	overflow: hidden;
	font-size: 0px;
	visibility: hidden;
	position: absolute;
}

legend {
	width: 0px;
	height: 0px;
	line-height: 0;
	overflow: hidden;
	font-size: 0px;
	visibility: hidden;
	position: absolute;
}

caption {
	display: none;
}

.png24 {
	tmp: expression(setPng24(this));
}

img {
	margin: 0px;
	padding: 0px;
	border: 0px currentColor;
	border-image: none;
	vertical-align: top;
}

button {
	background: none;
	margin: 0px;
	padding: 0px;
	border: currentColor;
	border-image: none;
	cursor: pointer;
}

.space {
	margin: 0px !important;
	padding: 0px !important;
	width: 100%;
	height: 0px;
	line-height: 0 !important;
	overflow: hidden;
	clear: both;
	font-size: 0px !important;
	float: none;
	display: block;
}

.clear::after {
	height: 0px;
	clear: both;
	display: block;
	visibility: hidden;
	content: ".";
}

.clear {
	display: inline-block;
}

* html .clear {
	
}

.clear {
	display: block;
}

input {
	vertical-align: middle;
}

textarea {
	vertical-align: middle;
}

select {
	vertical-align: middle;
}

img {
	vertical-align: middle;
}

table caption {
	display: none;
}

.input_form {
	background: rgb(245, 245, 245);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(209, 209, 209) rgb(231, 231, 231) rgb(231, 231, 231) rgb(209, 209, 209);
	padding: 4px 0px 1px 3px;
	height: 13px;
	color: rgb(86, 86, 86);
	line-height: 13px;
	font-size: 1em;
}

.select_form {
	background: rgb(245, 245, 245);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(209, 209, 209) rgb(231, 231, 231) rgb(231, 231, 231) rgb(209, 209, 209);
	padding: 0px 0px 0px 3px;
	height: 30px;
	color: rgb(86, 86, 86);
	font-size: 0.95em;
}

.input_file {
	background: rgb(245, 245, 245);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(209, 209, 209) rgb(231, 231, 231) rgb(231, 231, 231) rgb(209, 209, 209);
	height: 20px;
	color: rgb(86, 86, 86);
	font-size: 1em;
}

.textarea_form {
	margin: 8px 0px 9px;
	padding: 3px 0px 0px 3px;
	border: 1px solid rgb(219, 225, 231);
	border-image: none;
	color: rgb(118, 118, 118);
	font-size: 0.95em;
}

html {
	height: 100%;
	background-color: rgb(234, 234, 234);
}

body {
	height: 100%;
	background-color: rgb(234, 234, 234);
}

#wrap {
	background: url("../images/tgis/bg.gif") repeat-x;
	width: 100%;
	height: 100%;
	text-align: center;
	float: left;
	position: relative;
}

.top {
	margin: 0px auto;
	width: 1105px;
}

.topmenu {
	width: 100%;
	height: 30px;
	font-size: 13px;
}

.topmenu ul>li {
	height: 30px;
	line-height: 30px;
	float: right;
}

.topmenu ul>li>a {
	color: rgb(62, 62, 62);
}

.logobg {
	background: url("../images/tgis/logobg.png") no-repeat;
	top: 100px;
	width: 100%;
	height: 40px;
	float: left;
	position: relative;
	z-index: 100;
}

#header {
	left: 0px;
	top: 55px;
	width: 100%;
	position: absolute;
	z-index: 900;
}

#header #lnb {
	width: 100%;
	border-bottom-color: rgb(4, 66, 153);
	border-bottom-width: 3px;
	border-bottom-style: solid;
	position: relative;
	z-index: 901;
	min-height: 73px;
	background-color: rgb(255, 255, 255);
}

#header .lnb_wrap {
	margin: 0px auto;
	width: 1105px;
	overflow: hidden;
	padding-bottom: 15px;
	visibility: hidden;
	position: relative;
}

#header .lnb_wrap>ul>li {
	background: url("../images/tgis/div_line.gif") no-repeat left 20px;
	width: 13%;
	float: left;
}

#header .lnb_wrap>ul>li>a {
	padding: 0px 10px;
	height: 50px;
	text-align: center;
	color: rgb(51, 51, 51);
	line-height: 50px;
	font-size: 17px;
	font-weight: 700;
	display: block;
}

#header .lnb_wrap>ul>li:first-child {
	background: none;
}

#header .lnb_wrap>ul>li.current>a {
	border: 1px solid rgb(4, 66, 153);
	border-image: none;
	color: rgb(4, 66, 153);
}

#header .lnb_wrap>ul>li.actived>a {
	border: 1px solid rgb(4, 66, 153);
	border-image: none;
	color: rgb(4, 66, 153);
}

#header .lnb_sub {
	margin-top: 10px;
}

#header .lnb_sub li {
	margin-bottom: 2px;
}

#header .lnb_sub li a {
	padding: 5px 0px;
	height: 20px;
	color: rgb(119, 119, 119);
	font-size: 14px;
	display: inline-block;
}

#header .lnb_sub li a:hover {
	color: rgb(4, 66, 153);
	text-decoration: underline;
}

#header .toplogo {
	margin-right: 5%;
	float: left;
}

#footer {
	top: 150px;
	width: 100%;
	clear: both;
	position: relative;
	background-color: rgb(234, 234, 234);
}

#footer ul {
	margin: 0px auto;
	padding: 40px 0px 40px 80px;
	border: 1px solid rgb(198, 198, 198);
	border-image: none;
	width: 1055px;
	color: rgb(63, 75, 94);
	font-size: 12px;
}

#footer ul>li:first-child {
	margin: 0px;
	left: 0px;
	width: 151px;
	float: left;
	position: relative;
}

#footer ul>li {
	left: 60px;
	position: relative;
}

#footer ul>li>p>a {
	color: rgb(154, 158, 164);
}

#footer ul>li>p>a:hover {
	top: 1px;
	position: relative;
}

#footer ul>li>p {
	margin-bottom: 5px;
}