@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('font/NotoSansKR-Regular-Hestia.eot');
  src: url('font/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
       url('font/NotoSansKR-Regular-Hestia.woff') format('woff'),
       url('font/NotoSansKR-Regular-Hestia.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('font/NotoSansKR-Medium-Hestia.eot');
  src: url('font/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'),
       url('font/NotoSansKR-Medium-Hestia.woff') format('woff'),
       url('font/NotoSansKR-Medium-Hestia.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('font/NotoSansKR-Bold-Hestia.eot');
  src: url('font/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
       url('font/NotoSansKR-Bold-Hestia.woff') format('woff'),
       url('font/NotoSansKR-Bold-Hestia.ttf') format('truetype');
}



/* reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0; padding:0} 
body,input,textarea,select,button,table{font-family:'Noto Sans KR','돋움',Dotum,AppleGothic,sans-serif;font-size:14px;line-height:1.4;color:#222}
img,fieldset{border:0} 
ul,ol{list-style:none} 
em,address{font-style:normal} 
a{text-decoration:none} 
a:hover,a:active,a:focus{text-decoration:none;}
header, footer, section, hgroup, artice, aside, nav {display:block}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #efefef;
}

#container {
    width: 100%;
    margin: 0 auto;
}

#mapnavi {
	width: 100%;
	height: 60px;
	float: left;
	position: relative;
	min-width: 1300px;
	background-color: #2553b5;
	border-bottom: 1px solid #bcbcbc;
	top: 0; left: 0; z-index: 5;
}

#mapnavi ul {
	float: right!important;
	width: 75%;
}

.mapnavibg {
	float: left;
	margin-top: 13px;
	margin-left: 20px;
}

#mapnavi .menu {
	float: left;
	width: 11.1111%;
	height: 60px;
	background-color: #2553b5;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.5px;
}

#mapnavi .menu_on {
	background-color: #1e98ff;
}

#mapnavi .menu a {
	height: 60px;
	width: 100%;
	text-align: center;
	color: #fff;
	float: left;
	line-height: 54px;
}

#mapnavi .menu a:hover {
	background: #1e98ff;
}

#mapnavi {
	width: 100%;
	height: 60px;
	float: left;
	position: relative;
	min-width: 1300px;
	background-color: #2553b5;
	border-bottom: 1px solid #bcbcbc;
	top: 0; left: 0; z-index: 5;
}

#panel02 {
	float: right; 
	width: 330px; 
	height: 93.5%; 
	background-color: #fff; 
	border-left: 1px solid #cbd4e0; 
	border-right: 1px solid #cbd4e0;
}

#panel02 .map_serch {
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: rgb(236, 236, 236);
}

#panel02 .map_serch li {
	background: url(".../images/map/serchimg.gif");
	height: 50px;
}

.panel {
	padding: 5px 20px 0px 20px;
	float: left;
	display: none;
	background-color: #fff;
}

.panel ul:first-child {
	border-bottom-color: #cbd4e0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	float: left;
}

.panel ul>p {
	width: 100%;
	line-height: 35px;
	padding: 3px 0;
	border-bottom-color: #cbd4e0;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	float: left;
}

.panel ul>p>select {
	border: 1px solid rgb(229, 229, 229);
	border-image: none;
	width: 60%;
	height: 30px;
	padding-left:3px;
}

.panel ul>p>input {
	border: 1px solid rgb(229, 229, 229);
	border-image: none;
	width: 60%;
	height: 30px;
	padding-left:5px;	
}

.panel ul>p>.date {
	border: 1px solid rgb(229, 229, 229);
	border-image: none;
	width: 55%;
	height: 30px;
}

.panel span {
	width: 30%;
	color: #555;
	padding-top: 2px;
	float: left;
}

.panel .btn_search {
	width: 40%;
	padding-bottom: 5%;
	margin-top: 5%;
	float: right;
}

.panel .btn_save {
	width: 30%;
	padding-bottom: 2%;
	margin-top: 2%;
	float: right;
}

.panel .btn_code {
	width: 28%;
	padding-bottom: 5%;
	margin-top: 5%;
	float: left;
}

.panel .pop_btn {
	padding-bottom: 10px;
	margin-top: -20px;
	float: right;
}

.tabmenu .tab ul>li {
	float: left;
}

.tabmenu .poptab ul>li {
	float: left;
}

.tabmenu .poptab .panel {
	padding: 5px 10px 0px;
	width: 95%;
	float: left;
	display: none;
	background-color: rgb(241, 241, 241);
}

.tabmenu .poptab .panel ul:first-child {
	border: currentColor;
	border-image: none;
}

.tabmenu .poptab .panel p {
	height: 45px;
	line-height: 45px;
}

.tabmenu .poptab .panel p.imageblah {
	height: 70px;
}

.tabmenu .poptab .panel p>span {
	background: url("../images/introduce/s_titlebg.gif") no-repeat left;
	padding-left: 25px;
}

.tabmenu .poptab .panel .btn_search {
	margin-left: 6.5%;
	float: left;
}

.tabmenu .poptab .panel .btn_save {
	margin-left: 2.5%;
	float: left;
}

.tabmenu .poptab .panel .btn_edit {
	padding: 10px;
	float: right;
}

.tabmenu .poptab .register p>input {
	width: 40%;
}

.tabmenu .poptab .register p>a {
	margin-left: 10px;
}

.tabmenu .statstap ul>li {
	float: left;
}

.tabmenu .statstap .panel {
	width: 95%;
	float: left;
	display: none;
}

.tabmenu .statstap .panel ul {
	padding: 1% 2%;
	border: 1px solid rgb(239, 239, 239);
	border-image: none;
	width: 100%;
	float: left;
	background-color: rgb(248, 248, 248);
}

.tabmenu .statstap .panel p {
	width: 45%;
	height: 45px;
	text-align: left;
	line-height: 45px;
	float: left;
}

.tabmenu .statstap .panel p>span {
	background: url("../images/introduce/s_titlebg.gif") no-repeat left;
	width: 100px;
	height: 45px;
	color: rgb(131, 131, 131);
	overflow: hidden;
	padding-left: 20px;
	font-weight: 700;
	float: left;
}

.tabmenu .statstap p>input {
	border: 1px solid rgb(220, 220, 220);
	border-image: none;
	width: 55%;
	height: 25px;
}

.tabmenu .statstap p>.date {
	background: rgb(223, 239, 252);
	border: 1px solid rgb(197, 219, 236);
	border-image: none;
	width: 23%;
	height: 25px;
}

.tabmenu .statstap p>select {
	border: 1px solid rgb(220, 220, 220);
	border-image: none;
	width: 55%;
	height: 25px;
}

.tabmenu .statstap .multiple p>select {
	background: rgb(223, 239, 252);
	width: 100px;
}

.tabmenu .statstap .multiple p>input {
	background: rgb(223, 239, 252);
}

.tabmenu .statstap p>a {
	margin-left: 10px;
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #cbd4e0;
    width: 100%;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:109px;
    height: 32px;
    line-height: 28px;
    border: 1px solid #cbd4e0;
    border-left: none;
    font-weight: 500;
	color:#555;
    background: #f7f7f7;
    overflow: hidden;
    position: relative;
}
ul.tabs li:last-child {
    float: left;
    text-align:center;
    cursor: pointer;
    width:110px;
    height: 32px;
    line-height: 28px;
    border: 1px solid #cbd4e0;
    border-left: none;
	border-right: none;
    font-weight: 500;
    background: #f7f7f7;
    overflow: hidden;
    position: relative;
}
ul.tabs li.active {
	color:#2553b5;
    background:#fff;
    border-bottom: 1px solid #fff;
}

.tab_container {
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
}
.tab_content {
    display: none;
}
.tab_container .tab_content ul {
    margin: 0px;
    padding: 0px;
}
.tab_container .tab_content ul li {
    padding: 5px;
    list-style: none;
}


#mapctrl {
	background: #fff; 
}
#mapctrl li {
    float: left;
	text-align: center;
    cursor: pointer;
	padding: 7px 10px;
	font-size: 0;
	border-right: 1px solid #e7e7e7;
}
#mapctrl li:last-child {
	border: none;
}
